[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
ipykernel = "*"
jupyter = "*"
psycopg2-binary = "*"
cx-oracle = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
